<!doctype html>
<html lang="en">
  <head>
          <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style type="text/css">
        body {
            padding-top: 100px;
        }
    </style>
  </head>
  <body>
      <div class="container">
        <div class="row">
                <button id="usd" type="button" data-currency="usd" class="btn btn-primary mr-5">USD</button>
                <button id="cad" type="button" data-currency="cad" class="btn btn-secondary mr-5">CAD</button>
                <button id="inr" type="button" data-currency="inr" class="btn btn-success mr-5">INR</button>
        </div>
      </div>

  </body>
  <script type="text/javascript">
  $(".btn").click(function() {
    $.ajax({
        url: "/currency",
        data: { currency: $(this).data("currency") }, 
        type: 'GET',
        dataType: 'json', // added data type
        success: function(res) {
            console.log(res);
            alert("Rate: "+res.Rate+"\n Host : "+res.Host);            
        },
        error: function(res) {
            alert("Failed")
        }
    });
  })
  </script>
</html>